$border-colour: #000000;
$border-primary-width: 5px;
$border-secondary-width: 2px;

$face-colour: #FFFF00;
$face-width: 500px;
$face-height: 500px;
$face-border-radius: 50%;

$eye-ball-colour: #FFFFFF;
$eye-ball-width: $face-width * 0.15;
$eye-ball-height: $face-height * 0.25;
$eye-ball-radius: 50%;
$eye-ball-horizontal-place: 20%;

$eye-iris-colour: #00CCCC;
$eye-iris-width: $eye-ball-width * 0.5;
$eye-iris-height: $eye-ball-height * 0.5;
$eye-iris-radius: 50%;
$eye-iris-horizontal-place: ($eye-ball-width / 2) - ($eye-iris-width / 2) - $border-secondary-width;
$eye-iris-vertical-place: ($eye-ball-height / 2) - ($eye-iris-height / 2) - $border-secondary-width;

$eye-pupil-colour: #FFFFFF;


$teeth-colour: #FEFEFF;
$tongue-colour: #FF5A5A;



.face {
    background-color: $face-colour;
    border: $border-primary-width solid $border-colour;
    width: $face-width;
    height: $face-height;
    border-radius: $face-border-radius;
    position: absolute;
}

.eyes {
    position: absolute;
    top: 20%;
    width: 100%;
}

.eye-ball {
    border: $border-secondary-width solid $border-colour;
    border-radius: $eye-ball-radius;
    background-color: $eye-ball-colour;
    width: $eye-ball-width;
    height: $eye-ball-height;
}

.left-eye {
    position: absolute;
    left: $eye-ball-horizontal-place;
}

.right-eye {
    position: absolute;
    right: $eye-ball-horizontal-place;
}

.eye-iris {
    position: absolute;
    left: $eye-iris-horizontal-place;
    top: $eye-iris-vertical-place;
    background-color: $eye-iris-colour;
    border: $border-secondary-width solid $border-colour;
    border-radius: $eye-ball-radius;
    width: $eye-iris-width;
    height: $eye-iris-height;
}